body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

/*!   HEADER   */

header {
  padding: 0.4rem 0;
  background-color: #395b64;
  box-shadow: 0 0 0.2rem #395b64;
}

nav {
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

nav a {
  text-decoration: none;
  color: #e7f6f2;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 1.5rem;
  list-style: none;
}

nav ul li a:hover {
  color: #c5c5c5;
}

/*!   MAIN   */

.card {
  background-color: hsl(0, 0%, 100%);
  margin-top: 200px;
  margin-bottom: 200px;
  width: 250px;
  height: 410px;
  padding: 10px;
  display: block;
  position: static;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.image {
  border-radius: 10px;
  width: 250px;
}

.text-section {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-size: 20px;
}

.text {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}
